<!DOCTYPE html>
<html lang="en">
    <head>
        
        {{>headerLinks}}
    <body>
       {{>header}}
        {{>navbar}}
        {{>about}}
        {{>experience}}
        {{>service}}
        {{>portfolio}}
        {{>counter}}
        {{>clients}}
        {{>contact}}
        {{>footer}}
        <!-- Back to Top -->
        <a href="/" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
        {{>script}}
        
    </body>
</html>
