 
        <div class="testimonials" id="testimonials">
            <div class="container">
                <i class="fa fa-4x fa-quote-left"></i>
                <div class="owl-carousel testimonials-carousel">
                    <img src="img/R1.png" class="testimonial-img" alt="">
                    <img src="img/R2.png" class="testimonial-img" alt="">
                    <img src="img/r3.png" class="testimonial-img" alt="">
                   
                </div>
            </div>
        </div>
      