
        <div class="counters">
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <div class="counter">
                            <div class="counter-icon-box"><i class="fa fa-calendar"></i></div>
                            <div class="number animateNumber" data-toggle="counter-up"> <span>2</span></div>
                            <h4 class="font-weight">Years of Experience</h4>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="counter">
                            <div class="counter-icon-box"><i class="fa fa-check"></i></div>
                            <div class="number animateNumber" data-toggle="counter-up"> <span>20</span></div>
                            <h4 class="font-weight">Completed Projects</h4>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="counter">
                            <div class="counter-icon-box"><i class="fa fa-users"></i></div>
                            <div class="number animateNumber" data-toggle="counter-up"> <span>25</span></div>
                            <h4 class="font-weight">Total Clients</h4>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="counter">
                            <div class="counter-icon-box"><i class="fa fa-heart"></i></div>
                            <div class="number animateNumber" data-toggle="counter-up"> <span>20</span></div>
                            <h4 class="font-weight">Positive Feedbacks</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       