
        <div class="experience" id="experience">
            <div class="container">
                <header class="section-header">
                    <h3>Work Experience</h3>
                    <p>
                        I am working as a freelancer and giving my services to international clients.
                    </p>
                </header>
                <div class="row">
                    <div class="col-md-6">
                        <div class="exp-column">
                            <p class="exp-date">01-Oct-2021 <span>to</span> Present</p>
                            <h4 class="exp-company">Fiverr</h4>
                            <h4 class="exp-designation">Freelance Software Developer</h4>
                            <p class="exp-detail">
                               <li>Utilizing Html5/CSS3, JavaScript and Python, NodeJS, MongoDB in software projects</li>
                               <li>Delivering efficient code within tight timelines</li>
                               <li>Translating client needs into practical, real-world software
                                solutions.</li>
                               <li>Innovatively addressing complex technical challenges through
                                creative problem-solving.</li>
                            </p>
                        </div>
                    </div>
                    
                    
                </div>
            </div>
        </div>
      