
        <div class="footer">
            <div class="container">
                <div class="copyright">
                    <p>Developed with &hearts; by Muhammad Wajahat Ullah</p>
                    <p> All Rights Reserved By Muhammad Wajahat Ullah</p>
                    
                </div>
            </div>
        </div>
        