
        <div class="header">
            <div class="container">

                <div class="logo pull-left">
                    <h1><a href="/">Wajahat</a></h1>
                </div>

                <nav id="nav-menu-container">
                    <ul class="nav-menu">
                        <li><a href="/">Home</a></li>
                        <li><a href="#about">About me</a></li>
                        <li><a href="#experience">Experience</a></li>
                        <li><a href="#services">Services</a></li>
                        <li><a href="#portfolio">Portfolio</a></li>
                        <li><a href="#contact">Contact me</a></li>
                    </ul>
                </nav>

                <nav class="nav social-nav pull-right d-none d-lg-inline">
                    <a href="https://github.com/wajahat-zafar"><i class="fa fa-github"></i></a> <a href="https://www.facebook.com/wajahat.zafar.338"><i class="fa fa-facebook"></i></a> <a href="https://www.linkedin.com/in/wajahat-zafar/"><i class="fa fa-linkedin"></i></a>
                </nav>
            </div>
        </div>