
        <div class="portfolio" id="portfolio">
            <div class="container">
                <header class="section-header">
                    <h3 class="section-title">My Portfolio</h3>
                    <p>
                        Here is the glimpse of the work that i have done for my clients
                    </p>
                </header>

                <div class="row">
                    <div class="col-lg-12">
                        <ul id="portfolio-flters">
                            <li data-filter="*" class="filter-active">Projects</li>
                            
                        </ul>
                    </div>
                </div>

                <div class="row portfolio-container">
                    <div class="col-lg-4 col-md-6 portfolio-item web-des">
                        <div class="portfolio-wrap">
                            <figure>
                                <img src="img/p1.png" class="img-fluid" alt="">
                                <a href="img/p1.png" data-lightbox="portfolio" data-title="Weather Insights Web App" class="link-preview" title="Preview"><i class="fa fa-eye"></i></a>
                                <a href="#" class="link-details" title="More Details"><i class="fa fa-link"></i></a>
                                <h4 class="portfolio-title">Weather Insights App <span>Web App</span></h4>
                            </figure>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item web-des">
                        <div class="portfolio-wrap">
                            <figure>
                                <img src="img/p2.png" class="img-fluid" alt="">
                                <a href="img/p2.png" class="link-preview" data-lightbox="portfolio" data-title="E-commerce Website" title="Preview"><i class="fa fa-eye"></i></a>
                                <a href="#" class="link-details" title="More Details"><i class="fa fa-link"></i></a>
                                <h4 class="portfolio-title">Ecommerce Website <span>Web Developement</span></h4>
                            </figure>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item web-dev">
                        <div class="portfolio-wrap">
                            <figure>
                                <img src="img/p3.png" class="img-fluid" alt="">
                                <a href="img/p3.png" class="link-preview" data-lightbox="portfolio" data-title="Desktop Application" title="Preview"><i class="fa fa-eye"></i></a>
                                <a href="#" class="link-details" title="More Details"><i class="fa fa-link"></i></a>
                                <h4 class="portfolio-title">Billing and Invoice Management System <span>Desktop Application</span></h4>
                            </figure>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item web-dev">
                        <div class="portfolio-wrap">
                            <figure>
                                <img src="img/p4.png" class="img-fluid" alt="">
                                <a href="img/p4.png" class="link-preview" data-lightbox="portfolio" data-title="Repair and Maintanence Website" title="Preview"><i class="fa fa-eye"></i></a>
                                <a href="#" class="link-details" title="More Details"><i class="fa fa-link"></i></a>
                                <h4 class="portfolio-title">Repair and Maintanence Website <span>Web Development</span></h4>
                            </figure>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item app-dev">
                        <div class="portfolio-wrap">
                            <figure>
                                <img src="img/p5.png" class="img-fluid" alt="">
                                <a href="img/p5.png" class="link-preview" data-lightbox="portfolio" data-title="Authentication System" title="Preview"><i class="fa fa-eye"></i></a>
                                <a href="#" class="link-details" title="More Details"><i class="fa fa-link"></i></a>
                                <h4 class="portfolio-title">User Authentication and Authorization System <span>Web App</span></h4>
                            </figure>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 portfolio-item app-dev">
                        <div class="portfolio-wrap">
                            <figure>
                                <img src="img/p6.png" class="img-fluid" alt="">
                                <a href="img/p6.png" class="link-preview" data-lightbox="portfolio" data-title="Automated Tutor" title="Preview"><i class="fa fa-eye"></i></a>
                                <a href="#" class="link-details" title="More Details"><i class="fa fa-link"></i></a>
                                <h4 class="portfolio-title">Automated Tutor <span>Machine Learning based Web Application</span></h4>
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       