
        <div class="services" id="services">
            <div class="container">
                <header class="section-header">
                    <h3>My Services</h3>
                    <p>
                        Below are the services that i am offering:
                    </p>
                </header>
                <div class="row">
                    <div class="col-sm-6 col-md-4">
                        <div class="single-service">
                            <span></span>
                            <div class="service-icon"><i class="fa fa-television"></i></div>
                            <h4>Web Design</h4>
                            
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <div class="single-service">
                            <span></span>
                            <div class="service-icon"> <i class="fa fa-globe"></i> </div>
                            <h4>Web Development</h4>
                            
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <div class="single-service">
                            <span></span>
                            <div class="service-icon"> <i class="fa fa-cogs"></i> </div>
                            <h4>Software Development</h4>
                            
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <div class="single-service">
                            <span></span>
                            <div class="service-icon"> <i class="fa fa-laptop"></i> </div>
                            <h4>FrontEnd Developement</h4>
                            
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <div class="single-service">
                            <span></span>
                            <div class="service-icon"> <i class="fa fa-code"></i> </div>
                            <h4>BackEnd Developement</h4>
                            
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <div class="single-service">
                            <span></span>
                            <div class="service-icon"> <i class="fa fa-picture-o"></i> </div>
                            <h4>Ui/UX</h4>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
       